#nav{
    background-color: rgb(236, 255, 230);
    box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.219);
}
#icons{
    margin-top:-8px;
    margin-right: 10px;
}
#gesturebit{
    margin-top: -30px ;
    margin-bottom: -30px ;
    margin-left: 10%;
}
#buttonOut{
    background-color: rgb(194, 194, 194);
    color:rgb(46, 68, 36);
    box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.219);

}
#buttonOut:hover{
    background-color: rgb(240, 240, 240);
    color:rgb(46, 68, 36);
    box-shadow: 0px 0px 5px 4px rgba(0, 0, 0, 0.315);

}
#sideBar{
    background-color: rgb(46, 68, 36);
}
#butLogin{
    
    color: rgb(114, 212, 100);
    border: 2px solid rgb(114, 212, 100);
    
    border-radius: 4px;
    font-size:large;
}
#butSingup{
    background-color: rgb(114, 212, 100);
    color: rgb(244, 255, 242);
    border-radius: 4px;
    border-style: none;
    box-shadow: 0px 0px 6px 1px rgba(0, 0, 0, 0.082);
    font-size:large;
}